<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Your Fitness</title>
</head>
<body>
    <h1>What did you do today?</h1>
    <form method="POST" action="/log">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Date</label>
        <input type="date" class="form-control" name="date">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Type of exercise</label>
        <textarea class="form-control" name="type_of_exercise" rows="3"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Duration</label>
        <input type="text" class="form-control" name="duration" placeholder="Enter Duration">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Calories Burnt</label>
        <input type="text" class="form-control" name="calories" placeholder="Enter Calories">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Muscle Group</label>
        <input type="text" class="form-control" name="muscle_group" placeholder="Targeted Muscle Group">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="text" class="form-control" name="email" placeholder="Enter Email again lol">
      </div>
      <button type="submit" class="btn btn-primary mb-3">Save exercise</button>
    </form>

    
</body>
</html>